#MAC OS
.DS_Store

#latex
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.synctex.gz
*.tex
*.sty
*.bib
*.bst
*.bbl
*.blg


#python cache files 
__pycache__/

#Voice Activity Detection Course Assignment
Voice-Activity-Detection/

#####
.idea/
.ipynb_checkpoints/
Algorithm-Design-and-Analysis/DAAcodes/output/

Algorithm-Design-and-Analysis/DAAcodes/.vscode/settings.json
