#MAC OS
.DS_Store

#latex
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.synctex.gz

#jupyter notebook
*.ipynb

#python cache files 
__pycache__/

#Voice Activity Detection Course Assignment
Voice-Activity-Detection/data/
Voice-Activity-Detection/report/
Voice-Activity-Detection/models_saved/
Voice-Activity-Detection/wavs/
