#MAC OS
.DS_Store

#latex
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.synctex.gz
*.tex
*.sty
*.bib
*.bst
*.bbl
*.blg


#python cache files 
__pycache__/

#Voice Activity Detection Course Assignment
Voice-Activity-Detection/

#####
.idea/
.ipynb_checkpoints/

#2022 fall assignments descriptions and datasets 
CV_HW1.pdf
AI-relevant-courses-2022fall/NLPhw-1026/hw_description.pdf
AI-relevant-courses-2022fall/NLPhw-1026/data/news.2007.en.shuffled.deduped.test
AI-relevant-courses-2022fall/NLPhw-1026/data/news.2007.en.shuffled.deduped.train
AI-relevant-courses-2022fall/CVhw-1023/output/attributes.png
AI-relevant-courses-2022fall/NLPhw-1026/model.pkl
AI-relevant-courses-2022fall/DLhw1/hw1_demo.py
